{% extends "layouts/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block notitle %}{% endblock %}

{% block head %}
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="{% static "components/event-card.js" %}"></script>
    <script src="{% static "components/multiword.js" %}"></script>
    <script src="{% static "components/shelf.js" %}"></script>
    <script src="{% static "components/timeline.js" %}"></script>
    {% render_bundle 'index' %}
{% endblock %}

{% block body %}

    <bde-parallax-carousel class="jumbo">
        {% if last_news %}
        <bde-parallax-carousel-slide>
            <div data-carousel-role="background" class="jumbo-background" >
                <img src="{% static "img/newspaper.jpg" %}" />
            </div>
            <div data-carousel-role="foreground" class="jumbo-flex">
                <h2 class="jumbo-title" >La gazette du {{ last_news.created_at | date:"d F" }} est arrivée</h2>
                <p class="jumbo-content" >Lis la gazette dès maintenant !</p>
                <div class="buttons">
                    <a class="button primary" href="/media/{{ last_news.file }}">Lire la gazette</a>
                </div>
            </div>
        </bde-parallax-carousel-slide>
        {% endif %}
        {% if highlight_events %}
        <bde-parallax-carousel-slide>
            <div data-carousel-role="background" class="jumbo-background" >
                <img src="/media/{{ highlight_events.first.commission.banner }}" />
            </div>
            <div data-carousel-role="foreground" class="jumbo-flex">
                <h2 class="jumbo-title" >Les événements à venir</h2>
                <div class="jumbo-horizontal jumbo-events jumbo-standard-text">
                {% for event in highlight_events %}
                    <a href="/commissions/{{ event.commission.slug }}/event-{{ event.slug }}">
                        {% include "fragments/event-card.html" %}
                    </a>
                {% endfor %}
                </div>
            </div>
        </bde-parallax-carousel-slide>
        {% endif %}
        {% if curated_commission %}
        <bde-parallax-carousel-slide>
            <div data-carousel-role="background" class="jumbo-background" >
                <img src="/media/{{ curated_commission.banner }}" />
            </div>
            <div data-carousel-role="foreground" class="jumbo-flex">
                <h2 class="jumbo-title" >Une commission à découvrir</h2>
                <div class="jumbo-standard-text">
                    {% include "fragments/commission-card.html" with com=curated_commission %}
                </div>
            </div>
        </bde-parallax-carousel-slide>
        {% endif %}
        <bde-parallax-carousel-slide>
            <div data-carousel-role="background" class="jumbo-background" >
                <img src="{% static "img/cesi.png" %}" />
            </div>
            <div data-carousel-role="foreground" class="jumbo-flex">
                <div class="title-wrapper">
                    <h2 class="jumbo-title" >Viens <bde-multiword>
                        <span>t'amuser</span>
                        <span>faire du sport</span>
                        <span>découvrir</span>
                        <span>créer</span>
                        <span>faire des rencontres</span>
                        <span>manger</span>
                        <span>jouer</span>
                        <span>inventer</span>
                        <span>discuter</span>
                        <span>t'entrainer</span>
                    </bde-multiword> le jeudi après-midi</h2>
                </div>
                <p class="jumbo-content" >Tu peux dès maintenant créer ta commission et être financé par le BDE pour toutes les activités de la vie associative ! Sois créatif, tout est permis !</p>
                <div class="buttons">
                    <a class="button primary" href="/commissions">Parcourir les commissions</a>
                    {% if not user.is_authenticated or perms.commissions.add_commission %}
                        <a class="button" href="/commissions/create">Créer une commission</a>
                    {% endif %}
                </div>
            </div>
        </bde-parallax-carousel-slide>
    </bde-parallax-carousel>

    <div class="search">
        <div class="searchbox">
            <bde-fake-search searchbox="#main-search">Chercher partout...</bde-fake-search>
        </div>
    </div>

    {% if quick_links %}
    <ul class="quick-link-list">
        {% for link in quick_links %}
            <li class="quick-link">
                <bde-quicklink
                        style="{{ link.style }}"
                        {% if link.description %}description="{{ link.description }}"{% endif %}
                        icon="{{ link.icon }}"
                        href="{{ link.url }}"
                >{{ link.text }}</bde-quicklink>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if upcoming_events %}
    <bde-shelf>
        <h2 slot="title">Événements à venir</h2>
        <a href="/commissions/events" class="btn" slot="toolbar">Calendrier <bde-icon icon="mdi-chevron-right"></bde-icon></a>
        {% for event in upcoming_events %}
            <a href="/commissions/{{ event.commission.slug }}/event-{{ event.slug }}">
                {% include "fragments/event-card.html" %}
            </a>
        {% endfor %}
    </bde-shelf>
    {% endif %}

    <div class="index-body">
        <div class="body-section">
            <bde-timeline class="timeline nowrap">
                {% for event in past_events %}
                    <a
                            href="/commissions/{{ event.commission.slug }}/event-{{ event.slug }}"
                            timeline-date="{{ event.event_date_start | date:"c" }}"
                            timeline-id="event-{{ event.id }}">
                        {% include "fragments/event-card.html" %}
                    </a>
                {% endfor %}
                {% for post in post_list %}
                    {% include "fragments/post.html" %}
                {% endfor %}
            </bde-timeline>
        </div>
        {% if commission_count > 1 %}
        <aside class="body-aside">
            <h3>Quelques commissions</h3>
            {% for com in random_commissions %}
                {% include "fragments/commission-card.html" %}
            {% endfor %}
        </aside>
        {% endif %}
    </div>

{% endblock %}